In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.iolib.table import SimpleTable
from sklearn.metrics import r2_score
import ml_metrics as metrics

In [2]:
#load data
data = pd.read_csv("E:\GitHub\MasterWork\Data\SANDP-500.txt", dtype=str)

In [3]:
data.head()

,Ticker,Per,Date,Time,Open,High,Low,Close,Vol
0,SANDP-500,1,20100101,000100,1114.8100000,1114.9700000,1114.8100000,1114.9700000,0
1,SANDP-500,1,20100101,000200,1115.0200000,1115.1000000,1115.0200000,1115.1000000,0
2,SANDP-500,1,20100101,000300,1115.1100000,1115.1200000,1115.1100000,1115.1200000,0
3,SANDP-500,1,20100101,000400,1115.1300000,1115.1400000,1115.1300000,1115.1400000,0
4,SANDP-500,1,20100101,000500,1115.1000000,1115.1000000,1115.1000000,1115.1000000,0

In [24]:
data.Close.plot()

TypeError: no numeric data to plot

In [4]:
data = data.drop(columns=['Ticker', 'Per', 'Vol'])
data.Date = pd.to_datetime(data.Date, format='%Y%m%d')

In [5]:
import calendar
for i in range(len(data.Date)):
    temp = data.Time[i]
    time = (int(temp[0]) * 10 + int(temp[1])) * 3600 + (int(temp[2]) * 10 + int(temp[3])) * 60 + (int(temp[4]) * 10 + int(temp[5]))
    data.Date[i] = data.Date[i].timestamp() + time

C:\Users\Skiv2\AppData\Local\Temp\ipykernel_1360\4117430611.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Date[i] = data.Date[i].timestamp() + time

In [6]:
data.head()

,Date,Time,Open,High,Low,Close
0,1262304060.0,000100,1114.8100000,1114.9700000,1114.8100000,1114.9700000
1,1262304120.0,000200,1115.0200000,1115.1000000,1115.0200000,1115.1000000
2,1262304180.0,000300,1115.1100000,1115.1200000,1115.1100000,1115.1200000
3,1262304240.0,000400,1115.1300000,1115.1400000,1115.1300000,1115.1400000
4,1262304300.0,000500,1115.1000000,1115.1000000,1115.1000000,1115.1000000

In [7]:
data = data.drop(columns=['Time'])
data.Date = data.Date.astype(int)

In [8]:
data.head()

         Date          Open          High           Low         Close
0  1262304060  1114.8100000  1114.9700000  1114.8100000  1114.9700000
1  1262304120  1115.0200000  1115.1000000  1115.0200000  1115.1000000
2  1262304180  1115.1100000  1115.1200000  1115.1100000  1115.1200000
3  1262304240  1115.1300000  1115.1400000  1115.1300000  1115.1400000
4  1262304300  1115.1000000  1115.1000000  1115.1000000  1115.1000000

In [9]:
data.to_csv("E:\GitHub\MasterWork\Data\SANDP-500Fixed.txt", index=False)